#titlebar{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-flow: row;
	        flex-flow: row;
	-webkit-box-pack: start;
	    -ms-flex-pack: start;
	        justify-content: flex-start;
	position: fixed;
	background-color: #004a63;
	width: 100%;
	height: 70px;
	margin: 0px;
	list-style-type: none;
	padding: 0;
	overflow: hidden;
	background-color: #333;
	z-index: 99;
}

.menuitem{
	display: block;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	float: left;
}


.menulink{
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-weight: bold;
}

.menuBTN:hover{
	background-image: -webkit-radial-gradient(#006D91,#004a63);
	background-image: -o-radial-gradient(#006D91,#004a63);
	background-image: radial-gradient(#006D91,#004a63);
	-webkit-box-shadow: 0px 0px 10px #000 inset;
	        box-shadow: 0px 0px 10px #000 inset;
	transition: 0.2s;
}

.current {
	background-image: -webkit-radial-gradient(#006D91,#004a63);
	background-image: -o-radial-gradient(#006D91,#004a63);
	background-image: radial-gradient(#006D91,#004a63);
	-webkit-box-shadow: 0px 0px 10px #000 inset;
	        box-shadow: 0px 0px 10px #000 inset;
}